1.참고로 판다스 홈페이지에서  https://pandas.pydata.org/docs/user_guide/missing_data.html?highlight=regular%20express 를 보면 결측치를 제거하는 방법에 자세한 설명과 정규 표현식(Regular expression)관련되어서 설명을 하고 있습니다. 영어로 되어 있지만 과제를 하기 전후에 한번 읽어 보시기 바랍니다.
2.각 문제는 10점이 만점입니다.

문제 1. 다음 주어진 코드를 실행해서 나타난 데이터프레임에서의 주대각성분을 모두 0 으로 바꾸세요

In [ ]:
import pandas as pd
import numpy as np

data = pd.DataFrame(np.random.randint(1,10, 100).reshape(10, -1))
data

    # 방법1: 판다스만 이용해서 풀기
print("방법1: 판다스만 이용해서 풀기")
data = pd.DataFrame(np.random.randint(1,10, 100).reshape(10, -1))
print(data)
print("")
for i in range(len(data.index)):
    data.iloc[i][i] = 0
print(data)
print("\n")

    # 방법2: 넘파이를 이용해서 풀기
print("방법2: 넘파이를 이용해서 풀기")
data = pd.DataFrame(np.random.randint(1,10, 100).reshape(10, -1))
print(data)
print("")
np.fill_diagonal(data.values, 0) # DataFrame.values = DataFrame.to_numpy()
print(data)

방법1: 판다스만 이용해서 풀기
   0  1  2  3  4  5  6  7  8  9
0  8  4  2  8  8  5  8  3  7  5
1  6  9  3  8  3  9  6  7  4  7
2  9  8  8  8  9  3  5  8  7  8
3  9  1  4  8  1  4  4  2  7  5
4  2  9  3  2  6  9  3  3  6  4
5  3  5  4  9  4  2  7  1  7  5
6  9  1  1  3  8  4  3  5  3  3
7  2  2  1  8  1  9  6  5  1  1
8  6  8  4  4  8  7  2  4  3  8
9  4  6  7  7  2  5  7  3  3  4

   0  1  2  3  4  5  6  7  8  9
0  0  4  2  8  8  5  8  3  7  5
1  6  0  3  8  3  9  6  7  4  7
2  9  8  0  8  9  3  5  8  7  8
3  9  1  4  0  1  4  4  2  7  5
4  2  9  3  2  0  9  3  3  6  4
5  3  5  4  9  4  0  7  1  7  5
6  9  1  1  3  8  4  0  5  3  3
7  2  2  1  8  1  9  6  0  1  1
8  6  8  4  4  8  7  2  4  0  8
9  4  6  7  7  2  5  7  3  3  0


방법2: 넘파이를 이용해서 풀기
   0  1  2  3  4  5  6  7  8  9
0  5  7  8  3  2  3  2  9  2  2
1  9  6  9  1  3  3  1  3  3  9
2  7  2  9  2  7  3  6  1  7  7
3  2  8  6  8  1  9  7  1  3  5
4  8  3  3  6  4  4  2  4  4  6
5  8  6  4  4  2  3  3  8  4  9
6  6  9  7  8  6  7  9  2  2  7
7  4  8  2  4  2  1  8  5  4  5
8  9  3  8  6  8  7  5  9  3  9
9  4  4  8  3  6  8  4  7  7  4

   0  1  2  3  4  5  6  7  8  9
0  0  7  8  3  2  3  2  9  2  2
1  9  0  9  1  3  3  1  3  3  9
2  7  2  0  2  7  3  6  1  7  7
3  2  8  6  0  1  9  7  1  3  5
4  8  3  3  6  0  4  2  4  4  6
5  8  6  4  4  2  0  3  8  4  9
6  6  9  7  8  6  7  0  2  2  7
7  4  8  2  4  2  1  8  0  4  5
8  9  3  8  6  8  7  5  9  0  9
9  4  4  8  3  6  8  4  7  7  0

문제2. 다음 주어진 코드를 보고 문제에 답하세요

1. a와 d 열을 서로 바꾸어서 출력하세요
2. 열 이름을 하드코딩(hard coding) 하지 않고 일반 함수(예; swap(a,e)는 a과 e열을 서로 교환)를 만들어 입력된 두 열을 교환할 수 있도록 구현하세요.
3. 열을 알파벳 역순으로 정렬합니다. 즉, 'f' 열이 처음부터 'a' 열이 마지막입니다

In [ ]:
df = pd.DataFrame(np.arange(36).reshape(-1,6), columns=list('abcdef'))
print(df)
print("\n")

# 1
print("1. a와 d 열을 서로 바꾸어서 출력하세요")
df = pd.DataFrame(np.arange(36).reshape(-1,6), columns=list('abcdef'))
print(df[list('dbcaef')])
print("")

# 2
import sys
print("2. 열 이름을 하드코딩(hard coding) 하지 않고 일반 함수(예; swap(a,e)는 a과 e열을 서로 교환)를 만들어 입력된 두 열을 교환할 수 있도록 구현하세요.")
df = pd.DataFrame(np.arange(36).reshape(-1,6), columns=list('abcdef'))
c1, c2 = map(str, input().split(" "))
def swap_columns(dataframe, col1, col2): # 함수정의
    c_list = list(dataframe.columns)
    c_list[c_list.index(col2)], c_list[c_list.index(col1)] = c_list[c_list.index(col1)], c_list[c_list.index(col2)]
    return dataframe[c_list]
df = swap_columns(df, c1, c2)
print(df)
print("")

# 3
print("3. 열을 알파벳 역순으로 정렬합니다. 즉, 'f' 열이 처음부터 'a' 열이 마지막입니다")
df = pd.DataFrame(np.arange(36).reshape(-1,6), columns=list('abcdef'))
print(df[reversed(list("abcdef"))])

    a   b   c   d   e   f
0   0   1   2   3   4   5
1   6   7   8   9  10  11
2  12  13  14  15  16  17
3  18  19  20  21  22  23
4  24  25  26  27  28  29
5  30  31  32  33  34  35


1. a와 d 열을 서로 바꾸어서 출력하세요
    d   b   c   a   e   f
0   3   1   2   0   4   5
1   9   7   8   6  10  11
2  15  13  14  12  16  17
3  21  19  20  18  22  23
4  27  25  26  24  28  29
5  33  31  32  30  34  35

2. 열 이름을 하드코딩(hard coding) 하지 않고 일반 함수(예; swap(a,e)는 a과 e열을 서로 교환)를 만들어 입력된 두 열을 교환할 수 있도록 구현하세요.
a e
    e   b   c   d   a   f
0   4   1   2   3   0   5
1  10   7   8   9   6  11
2  16  13  14  15  12  17
3  22  19  20  21  18  23
4  28  25  26  27  24  29
5  34  31  32  33  30  35

3. 열을 알파벳 역순으로 정렬합니다. 즉, 'f' 열이 처음부터 'a' 열이 마지막입니다
    f   e   d   c   b   a
0   5   4   3   2   1   0
1  11  10   9   8   7   6
2  17  16  15  14  13  12
3  23  22  21  20  19  18
4  29  28  27  26  25  24
5  35  34  33  32  31  30

문제 3. 유클리드 거리는 데이터 간의 유사도를 표현하는데 사용합니다. 거리가 가까울 수록 데이터 간의 유사성이 높다고 판단을 하고 해당 계산은 피타코라스 정리의 식인 $\sqrt{x^2+y^2}$를 사용합니다. 즉 두 점 p $(p_1, p_2, ..., p_n)$와 q$ (q_1, q_2, ..., q_n)$ 가 있을때 두점의 거리는 $\sqrt{(q_1 - p_1)^2 + (q_2 - p_2)^2 + ... + (q_n - p_n)^2} = \sqrt{\displaystyle\sum_{i=1}^{n}(q_i - p_i)^2}$로 계산합니다.

다음 주어진 코드에 두 열을 추가해서 나타난 결과처럼 각 행과 가장 가까운 거리의 행을 index 번호로 표시하고 해당 행과의 거리를 나타내도록 코드를 완성하세요.

  - 방법1: 판다스 관점으로 접근하기

In [ ]:
index_l=[1,2,3,4,5,6,7,8,9,10]
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=index_l)

#코드 구현 부분
dist_min_list = []

    # 거리 연산
for i in range(len(df)):
    dist_df = ((df.iloc[i, :] - df) ** 2).sum(axis = 1) ** (1 / 2)
    dist_df.iloc[i] = dist_df.max() # 자기 자신은 무조건 0이 되기 때문에 최소값을 뽑을 때 오류를 없애기 위해 최대값으로 설정.
    dist_min_list.append([dist_df.idxmin(), dist_df.min()])

    # 최종 데이터프레임 만들기
dist_min_df = pd.DataFrame(dist_min_list, columns = ['nearest_row', 'dist'], index = index_l)
pd.concat([df, dist_min_df], axis = 1)

     p   q   r   s  nearest_row       dist
1   58  63   3  45            3  32.093613
2   55  89  54   9            1  67.690472
3   48  88  10  61            1  32.093613
4   60   4  34  82            7  65.604878
5   25  64   3  92            3  45.989129
6   68  96  40  77            3  40.249224
7   56  28  10  26            1  40.484565
8    3  33  97  40           10  36.290495
9   23  76  64  94            6  57.358522
10   3  37  72  14            8  36.290495

  - 방법2: 넘파이 관점으로 접근하기

In [ ]:
index_l=[1,2,3,4,5,6,7,8,9,10]
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=index_l)

#코드 구현 부분
    # 기본 셋팅
dist_min_list = []
df_array = np.array(df) # 수학 연산을 위해 배열로 바꿔줌.

    # 거리 연산
for i in range(len(df_array)):
    dist_array = np.sqrt(np.sum(((df_array[i, :] - df_array) ** 2), axis = 1))
    dist_array[i] = np.max(dist_array) # 자기 자신은 무조건 0이 되기 때문에 최소값을 뽑을 때 오류를 없애기 위해 최대값으로 설정.
    dist_min_list.append([np.argmin(dist_array) + 1, np.min(dist_array)]) # 인덱스 번호로 넣기 위해 1씩 더해서 넣어줌.

    # 최종 데이터프레임 만들기
dist_min_array = np.array(dist_min_list, dtype = int) # 행번호 표시를 위해 배열을 int형으로 설정.
df_array = np.hstack((df_array, dist_min_array)) # 두 배열 결합
df = pd.DataFrame(df_array, columns = ['p', 'q', 'r', 's', 'nearest_row', 'dist'], index = index_l)
df

     p   q   r   s  nearest_row  dist
1   30   5  77  20            2    57
2   78  19  97  39            1    57
3   19  88  82  82            8    43
4   32  32  60  73           10    59
5   67  81  28  99            6    29
6   53  80   6  86            5    29
7   95  62  30  57            5    53
8   55  86  62  95            5    36
9    5  15  21  38            4    61
10  59  13  17  97            4    59

  - 방법3: 파이썬의 딕셔너리를 이용하여 접근하기 (2중 for loap이 들어가서 시간복잡도 증가)

In [ ]:
index_l=[1,2,3,4,5,6,7,8,9,10]
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=index_l)

#코드 구현 부분
        # 기본 셋팅
df_array = np.array(df) # 수학 연산을 위해 배열로 바꿔줌.
dist_min_list = [] # 가까운 거리의 행번호의 열과 거리 열을 추가해주기 위한 리스트. 최종 과정에서 배열로 변경.

        # 거리 연산
for i in range(len(df_array)):
    dist_dic = dict() # 가까운 거리의 행번호의 열과 거리열을 추가해주기 위한 딕셔너리.
    for x in range(len(df_array)):
        if i != x: # 자기 자신과 거리를 잴 필요는 없음
            dist = np.sqrt(np.sum((df_array[i, :] - df_array[x, :]) ** 2)) # 두 점의 거리 구하기. np.linalg.norm 메서드를 사용해도 됨.
            dist_dic.update({dist:x}) # 거리를 Key로 넣고 그때 인덱스 번호를 Value로 추가.
    dist_min_list.append([dist_dic.get(min(dist_dic)) + 1, min(dist_dic)]) # 데이터 프레임의 행 번호 기준으로 추가해야 되니 인덱스에 1을 더함.

        # 최종 데이터프레임 만들기
dist_array = np.array(dist_min_list, dtype = int) # 배열은 데이터 타입이 한 가지로만 나와야 하기 때문에 index를 추가해주기 위해선 int형으로 배열 생성.
df_array = np.hstack((df_array, dist_array)) # 기존의 df와 행번호의 열과 거리 열을 hstack해줌.
df = pd.DataFrame(df_array, columns = ['p', 'q', 'r', 's', 'nearest_row', 'dist'], index = index_l) # 최종 데이터프레임 생성.
df

     p   q   r   s  nearest_row  dist
1   75  62  48  33            9    34
2   15  20  34  89            7    62
3   43  64  76  33            1    42
4   85  93  56  71            9    35
5   16  63  17  30            7    62
6   84  34  76  52            9    32
7   16   1  13  33           10    45
8   48  81  54  81            4    40
9   80  58  58  65            6    32
10  53  14  34  22            7    45

문제 4. 한 DataFrame의 null 값을 다른 DataFrame의 null이 아닌 값으로 채워서 두 DataFrame 개체를 결합하여 하나로 나타내는 프로그램을 작성하세요.

In [ ]:
df1 = pd.DataFrame({'A': [None, 0, None,4], 'B': [3, 4, 5,6]})
df2 = pd.DataFrame({'A': [1, 1, 1, 3], 'B': [1,2, None, 3]})

print("Original DataFrames:")
print(df1)
print("---------------")
print(df2)
print("---------------")

df1.fillna(df2, inplace = True)
df2.fillna(df1, inplace = True)
print(pd.merge(df1, df2, how = 'outer'))

Original DataFrames:
     A  B
0  NaN  3
1  0.0  4
2  NaN  5
3  4.0  6
---------------
   A    B
0  1  1.0
1  1  2.0
2  1  NaN
3  3  3.0
---------------
     A    B
0  1.0  3.0
1  0.0  4.0
2  1.0  5.0
3  4.0  6.0
4  1.0  1.0
5  1.0  2.0
6  3.0  3.0

문제 5. 당신이 강의에서나 교재 중에서 가장 잘 설명되었으면 하는 한가지는 무엇입니까? 한 두 줄로 요약해서 답변해주면 감사하겠습니다.아니면 공부에 도움을 받고 싶은 내용이 있으면 자유롭게 쓰세요. (때때로 우리는 개념을 잘못 표현하여 사람들을 혼란스럽게 합니다. 때때로 우리는 사람들이 듣고 싶어하는 것들을 생략합니다. 때때로 책은 어떤 면에서 매우 혼란스럽습니다. 본인에게 그런 내용이 무엇이었는지 말할 기회입니다. 피드백을 환영합니다.)

- 책에서는 차원을 랭크로 표시하는 등 수학적인 부분에서는 잘못된 부분이 많은 것 같습니다. 그래서 수학적인 부분이 나오면 조금 자세한 설명을 들었으면 좋겠습니다.